body {
    background-color: #0f1115;
}

table {
    font-size: 0.9rem;
}

.result {
    font-size: 1.1rem;
}

/* Chrome, Edge, Safari */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}